h1{
    font-family: 'Satisfy', cursive;
}

h2{
    text-align: center;
}

/* Titulos de cards */
h5{
    font-weight: bold;
}

.precio{
    font-weight: bold;
}

.botones-orden{
    display: none;
}
.contact{
    text-align: center;
    font-weight: bold;
}